*.vcxproj*
cmake_install.cmake
*.exe
*.pdb
*.sln
.vs
CMakeCache.txt
CMakeFiles
Debug/
Release/
lisp_impl.dir
Makefile
.idea/
cmake-build-debug/
launch.json
*.out
examples/testing.lisp
*.log
TAGS
compile_commands.json
.gitconfig
